.sidebar{
    width: 386px;
    height: 100vh;
    background-color: tomato;
    padding: 70px 45px;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
}