<div class="vh-100 vw-100 " style="background-color: #E6E6E6; padding-top: 92px;padding-left: 100px; padding-right: 50px;">
    <div class="row">
        <div class="col">
            <div>Current Balance</div>
            <div>$30</div>
        </div>
        <div class="col">
            <div class="d-flex">
                <button class="bg-primary port-button"   type="submit" >Edit</button>
                <button class="bg-danger port-button"   type="submit" >Delete</button>
            </div> 
        </div>
    </div>
    
    

</div>
